<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reporte.Properties.Settings.MiBaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MiBase;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Reporte.Properties.Settings.MiBase2ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MiBase2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
